.add_panel {
    background-color: #eee;
    padding: 5px;
    margin: 5px 0;
    border: 1px solid #ddd;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

#jaia table,
#eguna table {
    width: 100%;
}

.smallTextArea {
  height: 3em;
}
.longTextArea {
  height: 9em;
}